<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static',filename='scripts/home.js')}}"></script>
    <!--
    <script src="../scripts/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='home.css')}}">
</head>


<body>


<div class = "container-fluid">

  <div class="row">

    <div class="col-sm-12 text-center" id="home-row-1">

        <video class="form-video" muted>

          <source src="{{ url_for('static', filename='videos/'+file+'.mp4') }}"  type="video/mp4">

        </video>


        <h2>Form</h2>


        <form action="{{ url_for('download',filename=file) }}" method="post">

          <label for="#">input 1</label>
          <input type="text" name="replace_text1">
          <br>

          <label for="#">input 2</label>
          <input type="text" name="replace_text2">
          <br>

          <label for="#">input 3</label>
          <input type="text" name="replace_text3">
          <br>

          <label for="#">input 4</label>
          <input type="text" name="replace_text4">
          <br>

          <input type="submit">

        </form>

        <div class="text-container">

          <p> </p>

        </div>

    </div>

  </div>

</div>






</body>


</html>
