<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--
    <script src="../scripts/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" type="text/css" href="../static/base.css">
</head>


<body>


<div class = "container-fluid">

  <div class="row">

    <div class="col-sm-12 text-center" id="home-row-1">

        <video width="300" height="300" controls>

          <source src="{{ url_for('static', filename='media/example.mp4') }}"  type="video/mp4">

        </video>



    </div>

  </div>

</div>






</body>


</html>
